dist: xenial
sudo: required

language: cpp

compiler:
    - gcc
    - clang

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install --no-install-recommends protobuf-compiler libprotobuf-dev qt5-qmake qt5-default

install:
    - qmake -v
    - $CXX -v

before_script:
    - wget https://github.com/chriskohlhoff/asio/archive/asio-1-10-8.tar.gz -O $HOME/asio-1.10.8.tar.gz
    - tar -C $HOME -xvf $HOME/asio-1.10.8.tar.gz
    - mv $HOME/asio-asio-1-10-8/asio/ $HOME/asio-1.10.8/

script:
    - ./setup.sh
    - cd src
    - qmake panoramix.pro
    - make CC=$CC CXX=$CXX
